* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

:root{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  color:#747bff;
  background-image:url("./assets/sky.jpg") ;
}
body{
  height:100vh;
  overflow: hidden;
}
h1{
  font-size: 40px;
}



/* CSS */
button{
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .10s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #d2f78d;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.005);
}

button:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  button {
    font-size: 1rem;
    padding: .75rem 2rem;
  }
}
/* components */

.chat-bot{
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap:20px;
  height: 100vh;
  width: 100%;

}
.chat-bot h1{
  text-align: center;
  color:aqua
}
.chat{
  display: flex;
  flex-direction: column;
  gap:30px;
  height: 90%;
}
.list{
  flex-grow:1;
  background-color:pink;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap:40px;
  overflow: auto;

}
.prompt{
  align-self: flex-start;
  background-color: white;
  padding: 5px 20px;
  border-radius: 4px 4px 4px 0;

}
.answer{
  align-self: flex-end;
  padding: 5px 20px;
  border-radius: 8px 8px 8px 0px;
  background-color:#747bff;
  color:white; 
  max-width: 400px; 
}
.image-answer{
  padding:20px;
}
.form{
  display: flex;
  justify-content: center;
  gap:10px;
}
.form input{
  width:70%;
  height: 50px;
  border-radius: 20px;
}
